# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
/public/
/src/
/.env
/.firebaserc
/.gitignore
/firebase.json
/index.html
/jsconfig.json
/package.json
/package-lock.json
/pwa_lytko_com.crt
/pwa_lytko_com.full.crt
/pwa_lytko_com.key
/README.md
/tsconfig.app.json
/tsconfig.json
/tsconfig.node.json
/vite.config.js
/vite-env.d.ts
/.vscode/
/.firebase/
